openapi: 3.1.0
info:
  title: Azure Event Hubs Management REST API
  description: >-
    Azure Resource Manager REST API for managing Event Hubs namespaces, event
    hubs, consumer groups, authorization rules, disaster recovery
    configurations, and schema registry groups. This API uses the
    Microsoft.EventHub resource provider and operates on the Azure management
    plane at management.azure.com.
  version: '2024-01-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft Azure Terms of Service
    url: https://azure.microsoft.com/en-us/support/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/event-hubs/
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager
security:
  - azure_auth:
      - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces:
    get:
      operationId: Namespaces_List
      summary: Azure Event Hubs List all namespaces
      description: >-
        Lists all the available Namespaces within a subscription, irrespective
        of the resource groups.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespaces returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespaceListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces:
    get:
      operationId: Namespaces_ListByResourceGroup
      summary: Azure Event Hubs List namespaces by resource group
      description: Lists the available Namespaces within a resource group.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespaces returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespaceListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}:
    put:
      operationId: Namespaces_CreateOrUpdate
      summary: Azure Event Hubs Create or update a namespace
      description: >-
        Creates or updates a namespace. Once created, this namespace's resource
        manifest is immutable. This operation is idempotent.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters for creating a namespace resource.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EHNamespace'
      responses:
        '200':
          description: Namespace successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespace'
        '201':
          description: Namespace create request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespace'
        '202':
          description: Namespace create or update request accepted.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: Namespaces_Get
      summary: Azure Event Hubs Get a namespace
      description: Gets the description of the specified namespace.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespace'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: Namespaces_Update
      summary: Azure Event Hubs Update a namespace
      description: >-
        Creates or updates a namespace. Once created, this namespace's resource
        manifest is immutable. This operation is idempotent.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters for updating a namespace resource.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EHNamespace'
      responses:
        '200':
          description: Namespace successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespace'
        '201':
          description: Namespace update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EHNamespace'
        '202':
          description: Namespace update request accepted.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: Namespaces_Delete
      summary: Azure Event Hubs Delete a namespace
      description: >-
        Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace successfully deleted.
        '202':
          description: Namespace delete request accepted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets/default
  : put:
      operationId: Namespaces_CreateOrUpdateNetworkRuleSet
      summary: Azure Event Hubs Create or update network rule set
      description: Create or update NetworkRuleSet for a Namespace.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The Namespace NetworkRuleSet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkRuleSet'
      responses:
        '200':
          description: Namespace NetworkRuleSet successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkRuleSet'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: Namespaces_GetNetworkRuleSet
      summary: Azure Event Hubs Get network rule set
      description: Gets NetworkRuleSet for a Namespace.
      tags:
        - Namespaces
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace NetworkRuleSet successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkRuleSet'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs
  : get:
      operationId: EventHubs_ListByNamespace
      summary: Azure Event Hubs List event hubs by namespace
      description: Gets all the Event Hubs in a Namespace.
      tags:
        - Event Hubs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $skip
          in: query
          description: >-
            Skip is only used if a previous operation returned a partial result.
          schema:
            type: integer
            minimum: 0
            maximum: 1000
        - name: $top
          in: query
          description: >-
            May be used to limit the number of results to the most recent N
            event hubs.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Successfully retrieved the list of Event Hubs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}
  : put:
      operationId: EventHubs_CreateOrUpdate
      summary: Azure Event Hubs Create or update an event hub
      description: >-
        Creates or updates a new Event Hub as a nested resource within a
        Namespace.
      tags:
        - Event Hubs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to create an Event Hub resource.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Eventhub'
      responses:
        '200':
          description: Event Hub successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eventhub'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: EventHubs_Get
      summary: Azure Event Hubs Get an event hub
      description: Gets an Event Hubs description for the specified Event Hub.
      tags:
        - Event Hubs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the Event Hub description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eventhub'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: EventHubs_Delete
      summary: Azure Event Hubs Delete an event hub
      description: >-
        Deletes an Event Hub from the specified Namespace and resource group.
      tags:
        - Event Hubs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Event Hub successfully deleted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups
  : get:
      operationId: ConsumerGroups_ListByEventHub
      summary: Azure Event Hubs List consumer groups
      description: >-
        Gets all the consumer groups in a Namespace. An empty feed is returned
        if no consumer group exists in the Namespace.
      tags:
        - Consumer Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $skip
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 1000
        - name: $top
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Successfully retrieved the list of consumer groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}
  : put:
      operationId: ConsumerGroups_CreateOrUpdate
      summary: Azure Event Hubs Create or update a consumer group
      description: >-
        Creates or updates an Event Hubs consumer group as a nested resource
        within a Namespace.
      tags:
        - Consumer Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ConsumerGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to create or update a consumer group resource.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
      responses:
        '200':
          description: Consumer group successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: ConsumerGroups_Get
      summary: Azure Event Hubs Get a consumer group
      description: Gets a description for the specified consumer group.
      tags:
        - Consumer Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ConsumerGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the consumer group description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: ConsumerGroups_Delete
      summary: Azure Event Hubs Delete a consumer group
      description: >-
        Deletes a consumer group from the specified Event Hub and resource
        group.
      tags:
        - Consumer Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/EventHubNameParameter'
        - $ref: '#/components/parameters/ConsumerGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Consumer group successfully deleted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/authorizationRules
  : get:
      operationId: Namespaces_ListAuthorizationRules
      summary: Azure Event Hubs List namespace authorization rules
      description: Gets a list of authorization rules for a Namespace.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace authorization rules returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRuleListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}
  : put:
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      summary: Azure Event Hubs Create or update namespace authorization rule
      description: Creates or updates an AuthorizationRule for a Namespace.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/AuthorizationRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The shared access AuthorizationRule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationRule'
      responses:
        '200':
          description: Namespace authorization rule created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: Namespaces_GetAuthorizationRule
      summary: Azure Event Hubs Get namespace authorization rule
      description: Gets an AuthorizationRule for a Namespace by rule name.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/AuthorizationRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace authorization rule returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationRule'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: Namespaces_DeleteAuthorizationRule
      summary: Azure Event Hubs Delete namespace authorization rule
      description: Deletes an AuthorizationRule for a Namespace.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/AuthorizationRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Namespace authorization rule deleted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys
  : post:
      operationId: Namespaces_ListKeys
      summary: Azure Event Hubs List namespace keys
      description: Gets the primary and secondary connection strings for the Namespace.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/AuthorizationRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Connection strings returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      operationId: Namespaces_RegenerateKeys
      summary: Azure Event Hubs Regenerate namespace keys
      description: >-
        Regenerates the primary or secondary connection strings for the
        specified Namespace.
      tags:
        - Authorization Rules
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/AuthorizationRuleNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to regenerate the authorization rule.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateAccessKeyParameters'
      responses:
        '200':
          description: Authorization rule regenerated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/disasterRecoveryConfigs
  : get:
      operationId: DisasterRecoveryConfigs_List
      summary: Azure Event Hubs List disaster recovery configurations
      description: Gets all Alias (Disaster Recovery configurations).
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of disaster recovery configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmDisasterRecoveryListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}
  : put:
      operationId: DisasterRecoveryConfigs_CreateOrUpdate
      summary: Azure Event Hubs Create or update a disaster recovery configuration
      description: Creates or updates a new Alias (Disaster Recovery configuration).
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: alias
          in: path
          required: true
          description: The Disaster Recovery configuration name.
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: >-
          Parameters required to create an Alias (Disaster Recovery
          configuration).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArmDisasterRecovery'
      responses:
        '200':
          description: Disaster Recovery configuration successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmDisasterRecovery'
        '201':
          description: Disaster Recovery configuration create request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmDisasterRecovery'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: DisasterRecoveryConfigs_Get
      summary: Azure Event Hubs Get a disaster recovery configuration
      description: >-
        Retrieves Alias (Disaster Recovery configuration) for primary or
        secondary namespace.
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: alias
          in: path
          required: true
          description: The Disaster Recovery configuration name.
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: >-
            Successfully retrieved the Disaster Recovery configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmDisasterRecovery'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: DisasterRecoveryConfigs_Delete
      summary: Azure Event Hubs Delete a disaster recovery configuration
      description: Deletes an Alias (Disaster Recovery configuration).
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: alias
          in: path
          required: true
          description: The Disaster Recovery configuration name.
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Disaster Recovery configuration deleted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/breakPairing
  : post:
      operationId: DisasterRecoveryConfigs_BreakPairing
      summary: Azure Event Hubs Break disaster recovery pairing
      description: >-
        This operation disables the Disaster Recovery and stops replicating
        changes from primary to secondary namespaces.
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: alias
          in: path
          required: true
          description: The Disaster Recovery configuration name.
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Disaster Recovery pairing broken successfully.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/failover
  : post:
      operationId: DisasterRecoveryConfigs_FailOver
      summary: Azure Event Hubs Initiate disaster recovery failover
      description: >-
        Invokes GEO DR failover and reconfigures the alias to point to the
        secondary namespace.
      tags:
        - Disaster Recovery Configs
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: alias
          in: path
          required: true
          description: The Disaster Recovery configuration name.
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Failover initiated successfully.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups
  : get:
      operationId: SchemaRegistry_ListByNamespace
      summary: Azure Event Hubs List schema groups
      description: Gets all the Schema Groups in a Namespace.
      tags:
        - Schema Registry
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $skip
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 1000
        - name: $top
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Successfully retrieved the list of schema groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaGroupListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups/{schemaGroupName}
  : put:
      operationId: SchemaRegistry_CreateOrUpdate
      summary: Azure Event Hubs Create or update a schema group
      description: Creates or Updates an EventHub schema group.
      tags:
        - Schema Registry
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: schemaGroupName
          in: path
          required: true
          description: The Schema Group name.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to create an Event Hub schema group resource.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaGroup'
      responses:
        '200':
          description: Schema group successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaGroup'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: SchemaRegistry_Get
      summary: Azure Event Hubs Get a schema group
      description: Gets the details of an EventHub schema group.
      tags:
        - Schema Registry
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: schemaGroupName
          in: path
          required: true
          description: The Schema Group name.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the schema group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaGroup'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: SchemaRegistry_Delete
      summary: Azure Event Hubs Delete a schema group
      description: Deletes an EventHub schema group.
      tags:
        - Schema Registry
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/NamespaceNameParameter'
        - name: schemaGroupName
          in: path
          required: true
          description: The Schema Group name.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Schema group deleted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.EventHub/operations:
    get:
      operationId: Operations_List
      summary: Azure Event Hubs List available operations
      description: Lists all of the available Event Hub REST API operations.
      tags:
        - Operations
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: >-
        Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every
        service call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group within the Azure subscription.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      description: The Namespace name.
      schema:
        type: string
        minLength: 6
        maxLength: 50
        pattern: ^[a-zA-Z][a-zA-Z0-9-]{6,50}[a-zA-Z0-9]$
    EventHubNameParameter:
      name: eventHubName
      in: path
      required: true
      description: The Event Hub name.
      schema:
        type: string
        minLength: 1
        maxLength: 256
    ConsumerGroupNameParameter:
      name: consumerGroupName
      in: path
      required: true
      description: The consumer group name.
      schema:
        type: string
        minLength: 1
        maxLength: 50
    AuthorizationRuleNameParameter:
      name: authorizationRuleName
      in: path
      required: true
      description: The authorization rule name.
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2024-01-01'
  schemas:
    EHNamespace:
      type: object
      description: Single Namespace item in List or Get Operation.
      properties:
        id:
          type: string
          readOnly: true
          description: >-
            Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        sku:
          $ref: '#/components/schemas/Sku'
        identity:
          $ref: '#/components/schemas/Identity'
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
              description: Provisioning state of the Namespace.
            status:
              type: string
              readOnly: true
              description: Status of the Namespace.
            createdAt:
              type: string
              format: date-time
              readOnly: true
              description: The time the Namespace was created.
            updatedAt:
              type: string
              format: date-time
              readOnly: true
              description: The time the Namespace was updated.
            serviceBusEndpoint:
              type: string
              readOnly: true
              description: Endpoint you can use to perform Service Bus operations.
            metricId:
              type: string
              readOnly: true
              description: Identifier for Azure Insights metrics.
            clusterArmId:
              type: string
              description: Cluster ARM ID of the Namespace.
            isAutoInflateEnabled:
              type: boolean
              description: >-
                Value that indicates whether AutoInflate is enabled for
                eventhub namespace.
            maximumThroughputUnits:
              type: integer
              format: int32
              minimum: 0
              description: >-
                Upper limit of throughput units when AutoInflate is enabled,
                value should be within 0 to 20 throughput units.
            kafkaEnabled:
              type: boolean
              description: >-
                Value that indicates whether Kafka is enabled for eventhub
                namespace.
            zoneRedundant:
              type: boolean
              description: >-
                Enabling this property creates a Standard Event Hubs Namespace
                in regions supported availability zones.
            disableLocalAuth:
              type: boolean
              description: >-
                This property disables SAS authentication for the Event Hubs
                namespace.
            minimumTlsVersion:
              type: string
              description: >-
                The minimum TLS version for the cluster to support, e.g. 1.2.
              enum:
                - '1.0'
                - '1.1'
                - '1.2'
            publicNetworkAccess:
              type: string
              description: >-
                This determines if traffic is allowed over public network. By
                default it is enabled.
              enum:
                - Enabled
                - Disabled
                - SecuredByPerimeter
              default: Enabled
            encryption:
              $ref: '#/components/schemas/Encryption'
            privateEndpointConnections:
              type: array
              items:
                $ref: '#/components/schemas/PrivateEndpointConnection'
              description: List of private endpoint connections.
            alternateName:
              type: string
              description: >-
                Alternate name specified when alias and namespace names are
                same.
        systemData:
          $ref: '#/components/schemas/SystemData'
    EHNamespaceListResult:
      type: object
      description: The response of the List Namespace operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EHNamespace'
          description: Result of the List Namespace operation.
        nextLink:
          type: string
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of namespaces.
    Sku:
      type: object
      description: SKU parameters supplied to the create namespace operation.
      required:
        - name
      properties:
        name:
          type: string
          description: Name of this SKU.
          enum:
            - Basic
            - Standard
            - Premium
        tier:
          type: string
          description: The billing tier of this particular SKU.
          enum:
            - Basic
            - Standard
            - Premium
        capacity:
          type: integer
          format: int32
          minimum: 0
          description: >-
            The Event Hubs throughput units for Basic or Standard tiers, where
            value should be 0 to 20 throughput units. The Event Hubs premium
            units for Premium tier, where value should be 0 to 10 premium
            units.
    Identity:
      type: object
      description: Properties to configure Identity for the namespace.
      properties:
        principalId:
          type: string
          readOnly: true
          description: ObjectId from the KeyVault.
        tenantId:
          type: string
          readOnly: true
          description: TenantId from the KeyVault.
        type:
          type: string
          description: Type of managed service identity.
          enum:
            - SystemAssigned
            - UserAssigned
            - SystemAssigned, UserAssigned
            - None
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: Properties for User Assigned Identities.
    UserAssignedIdentity:
      type: object
      description: Recognized Dictionary value.
      properties:
        clientId:
          type: string
          readOnly: true
          description: Client Id of user assigned identity.
        principalId:
          type: string
          readOnly: true
          description: Principal Id of user assigned identity.
    Encryption:
      type: object
      description: Properties to configure Encryption.
      properties:
        keySource:
          type: string
          description: Enumerates the possible value of keySource for Encryption.
          enum:
            - Microsoft.KeyVault
          default: Microsoft.KeyVault
        keyVaultProperties:
          type: array
          items:
            $ref: '#/components/schemas/KeyVaultProperties'
          description: Properties of KeyVault.
        requireInfrastructureEncryption:
          type: boolean
          description: Enable Infrastructure Encryption (Double Encryption).
    KeyVaultProperties:
      type: object
      description: Properties of KeyVault.
      properties:
        keyName:
          type: string
          description: Name of the Key from KeyVault.
        keyVaultUri:
          type: string
          description: Uri of KeyVault.
        keyVersion:
          type: string
          description: Key Version.
        identity:
          type: object
          properties:
            userAssignedIdentity:
              type: string
              description: ARM ID of user Identity selected for encryption.
    PrivateEndpointConnection:
      type: object
      description: Properties of the PrivateEndpointConnection.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives.
        properties:
          type: object
          properties:
            privateEndpoint:
              type: object
              properties:
                id:
                  type: string
                  description: The ARM identifier for Private Endpoint.
            privateLinkServiceConnectionState:
              type: object
              properties:
                status:
                  type: string
                  description: Status of the connection.
                  enum:
                    - Pending
                    - Approved
                    - Rejected
                    - Disconnected
                description:
                  type: string
                  description: Description of the connection state.
            provisioningState:
              type: string
              description: Provisioning state of the Private Endpoint Connection.
              enum:
                - Creating
                - Updating
                - Deleting
                - Succeeded
                - Canceled
                - Failed
        systemData:
          $ref: '#/components/schemas/SystemData'
    Eventhub:
      type: object
      description: Single item in List or Get Event Hub operation.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives.
        properties:
          type: object
          properties:
            partitionIds:
              type: array
              items:
                type: string
              readOnly: true
              description: Current number of shards on the Event Hub.
            createdAt:
              type: string
              format: date-time
              readOnly: true
              description: Exact time the Event Hub was created.
            updatedAt:
              type: string
              format: date-time
              readOnly: true
              description: The exact time the message was updated.
            messageRetentionInDays:
              type: integer
              format: int64
              minimum: 1
              description: >-
                Number of days to retain the events for this Event Hub, value
                should be 1 to 7 days.
            partitionCount:
              type: integer
              format: int64
              minimum: 1
              description: >-
                Number of partitions created for the Event Hub, allowed values
                are from 1 to 32 partitions.
            status:
              type: string
              description: Enumerates the possible values for the status of the Event Hub.
              enum:
                - Active
                - Disabled
                - Restoring
                - SendDisabled
                - ReceiveDisabled
                - Creating
                - Deleting
                - Renaming
                - Unknown
            userMetadata:
              type: string
              description: Gets and Sets Metadata of User.
            captureDescription:
              $ref: '#/components/schemas/CaptureDescription'
            retentionDescription:
              $ref: '#/components/schemas/RetentionDescription'
        systemData:
          $ref: '#/components/schemas/SystemData'
    EventHubListResult:
      type: object
      description: The result of the List EventHubs operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Eventhub'
          description: Result of the List EventHubs operation.
        nextLink:
          type: string
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of EventHubs.
    CaptureDescription:
      type: object
      description: Properties to configure capture description for eventhub.
      properties:
        enabled:
          type: boolean
          description: >-
            A value that indicates whether capture description is enabled.
        encoding:
          type: string
          description: >-
            Enumerates the possible values for the encoding format of capture
            description.
          enum:
            - Avro
            - AvroDeflate
        destination:
          $ref: '#/components/schemas/Destination'
        intervalInSeconds:
          type: integer
          format: int32
          description: >-
            The time window allows you to set the frequency with which the
            capture to Azure Blobs will happen, value should between 60 to
            900 seconds.
        sizeLimitInBytes:
          type: integer
          format: int32
          description: >-
            The size window defines the amount of data built up in your Event
            Hub before a capture operation, value should be between 10485760
            to 524288000 bytes.
        skipEmptyArchives:
          type: boolean
          description: >-
            A value that indicates whether to skip empty archives.
    Destination:
      type: object
      description: Capture storage details for capture description.
      properties:
        name:
          type: string
          description: Name for capture destination.
        identity:
          $ref: '#/components/schemas/CaptureIdentity'
        properties:
          type: object
          properties:
            storageAccountResourceId:
              type: string
              description: >-
                Resource id of the storage account to be used to create the
                blobs.
            blobContainer:
              type: string
              description: Blob container Name.
            archiveNameFormat:
              type: string
              description: >-
                Blob naming convention for archive, e.g.
                {Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}.
            dataLakeAccountName:
              type: string
              description: >-
                The Azure Data Lake Store name for the captured events.
            dataLakeFolderPath:
              type: string
              description: >-
                The destination folder path for the captured events.
            dataLakeSubscriptionId:
              type: string
              format: uuid
              description: Subscription Id of Azure Data Lake Store.
    CaptureIdentity:
      type: object
      description: >-
        A value that indicates whether capture description is enabled.
      properties:
        type:
          type: string
          description: Type of Azure Active Directory Managed Identity.
          enum:
            - SystemAssigned
            - UserAssigned
        userAssignedIdentity:
          type: string
          description: >-
            ARM ID of Managed User Identity. This property is required if the
            type is UserAssignedIdentity.
    RetentionDescription:
      type: object
      description: Properties to configure retention settings for the eventhub.
      properties:
        cleanupPolicy:
          type: string
          description: Enumerates the possible values for cleanup policy.
          enum:
            - Delete
            - Compact
        retentionTimeInHours:
          type: integer
          format: int64
          description: >-
            Number of hours to retain the events for this Event Hub. This
            value is only used when cleanupPolicy is Delete.
        tombstoneRetentionTimeInHours:
          type: integer
          format: int32
          description: >-
            Number of hours to retain the tombstone markers of a compacted
            Event Hub. This value is only used when cleanupPolicy is Compact.
    ConsumerGroup:
      type: object
      description: Single item in List or Get Consumer group operation.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives.
        properties:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
              readOnly: true
              description: Exact time the message was created.
            updatedAt:
              type: string
              format: date-time
              readOnly: true
              description: The exact time the message was updated.
            userMetadata:
              type: string
              description: >-
                User Metadata is a placeholder to store user-defined string
                data with maximum length 1024.
        systemData:
          $ref: '#/components/schemas/SystemData'
    ConsumerGroupListResult:
      type: object
      description: The result of the List Consumer Groups operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ConsumerGroup'
          description: Result of the List Consumer Groups operation.
        nextLink:
          type: string
          description: >-
            Link to the next set of results. Not empty if Value contains
            incomplete list of Consumer Groups.
    AuthorizationRule:
      type: object
      description: Single item in a List or Get AuthorizationRule operation.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        properties:
          type: object
          properties:
            rights:
              type: array
              items:
                type: string
                enum:
                  - Manage
                  - Send
                  - Listen
              description: The rights associated with the rule.
        systemData:
          $ref: '#/components/schemas/SystemData'
    AuthorizationRuleListResult:
      type: object
      description: The response from the List namespace operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationRule'
          description: Result of the List Authorization Rules operation.
        nextLink:
          type: string
          description: Link to the next set of results.
    AccessKeys:
      type: object
      description: Namespace/EventHub Connection String.
      properties:
        primaryConnectionString:
          type: string
          readOnly: true
          description: Primary connection string of the created namespace AuthorizationRule.
        secondaryConnectionString:
          type: string
          readOnly: true
          description: Secondary connection string of the created namespace AuthorizationRule.
        aliasPrimaryConnectionString:
          type: string
          readOnly: true
          description: Primary connection string of the alias if GEO DR is enabled.
        aliasSecondaryConnectionString:
          type: string
          readOnly: true
          description: Secondary connection string of the alias if GEO DR is enabled.
        primaryKey:
          type: string
          readOnly: true
          description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        secondaryKey:
          type: string
          readOnly: true
          description: A base64-encoded 256-bit secondary key for signing and validating the SAS token.
        keyName:
          type: string
          readOnly: true
          description: A string that describes the AuthorizationRule.
    RegenerateAccessKeyParameters:
      type: object
      description: Parameters supplied to the Regenerate Authorization Rule operation.
      required:
        - keyType
      properties:
        keyType:
          type: string
          description: The access key to regenerate.
          enum:
            - PrimaryKey
            - SecondaryKey
        key:
          type: string
          description: >-
            Optional. If the key value is provided, this is set to key type,
            or autogenerated key value set for keyType.
    ArmDisasterRecovery:
      type: object
      description: Single item in List or Get Alias (Disaster Recovery configuration) operation.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              readOnly: true
              description: >-
                Provisioning state of the Alias (Disaster Recovery
                configuration).
              enum:
                - Accepted
                - Succeeded
                - Failed
            partnerNamespace:
              type: string
              description: >-
                ARM Id of the Primary/Secondary eventhub namespace name, which
                is part of GEO DR pairing.
            alternateName:
              type: string
              description: >-
                Alternate name specified when alias and namespace names are
                same.
            role:
              type: string
              readOnly: true
              description: >-
                role of namespace in GEO DR.
              enum:
                - Primary
                - PrimaryNotReplicating
                - Secondary
            pendingReplicationOperationsCount:
              type: integer
              format: int64
              readOnly: true
              description: >-
                Number of entities pending to be replicated.
        systemData:
          $ref: '#/components/schemas/SystemData'
    ArmDisasterRecoveryListResult:
      type: object
      description: The result of the List Alias (Disaster Recovery configuration) operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ArmDisasterRecovery'
          description: List of Alias (Disaster Recovery configurations).
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results.
    SchemaGroup:
      type: object
      description: Single item in List or Get Schema Group operation.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        properties:
          type: object
          properties:
            updatedAtUtc:
              type: string
              format: date-time
              readOnly: true
              description: Exact time the Schema Group was updated.
            createdAtUtc:
              type: string
              format: date-time
              readOnly: true
              description: Exact time the Schema Group was created.
            eTag:
              type: string
              format: uuid
              readOnly: true
              description: The ETag value.
            groupProperties:
              type: object
              additionalProperties:
                type: string
              description: Dictionary object for SchemaGroup group properties.
            schemaCompatibility:
              type: string
              description: Schema compatibility setting.
              enum:
                - None
                - Backward
                - Forward
            schemaType:
              type: string
              description: Schema type.
              enum:
                - Unknown
                - Avro
        systemData:
          $ref: '#/components/schemas/SystemData'
    SchemaGroupListResult:
      type: object
      description: The result of the List Schema Groups operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SchemaGroup'
          description: Result of the List Schema Groups operation.
        nextLink:
          type: string
          description: Link to the next set of results.
    NetworkRuleSet:
      type: object
      description: Description of topic resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID for the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        properties:
          type: object
          properties:
            trustedServiceAccessEnabled:
              type: boolean
              description: Value that indicates whether Trusted Service Access is Enabled or not.
            defaultAction:
              type: string
              description: Default Action for Network Rule Set.
              enum:
                - Allow
                - Deny
            virtualNetworkRules:
              type: array
              items:
                type: object
                properties:
                  subnet:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Resource ID of Virtual Network Subnet.
                  ignoreMissingVnetServiceEndpoint:
                    type: boolean
                    description: Value that indicates whether to ignore missing VNet Service Endpoint.
              description: List VirtualNetwork Rules.
            ipRules:
              type: array
              items:
                type: object
                properties:
                  ipMask:
                    type: string
                    description: IP Mask.
                  action:
                    type: string
                    description: The IP Filter Action.
                    enum:
                      - Allow
              description: List of IpRules.
            publicNetworkAccess:
              type: string
              description: >-
                This determines if traffic is allowed over public network. By
                default it is enabled.
              enum:
                - Enabled
                - Disabled
                - SecuredByPerimeter
              default: Enabled
        systemData:
          $ref: '#/components/schemas/SystemData'
    OperationListResult:
      type: object
      description: >-
        Result of the request to list Event Hub operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          description: >-
            List of Event Hub operations supported by the
            Microsoft.EventHub resource provider.
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of operation list results.
    Operation:
      type: object
      description: A Event Hub REST API operation.
      properties:
        name:
          type: string
          readOnly: true
          description: 'Operation name: {provider}/{resource}/{operation}'
        isDataAction:
          type: boolean
          description: Indicates whether the operation is a data action.
        display:
          type: object
          properties:
            provider:
              type: string
              readOnly: true
              description: Resource provider of the operation.
            resource:
              type: string
              readOnly: true
              description: Resource of the operation.
            operation:
              type: string
              readOnly: true
              description: Localized friendly name for the operation.
            description:
              type: string
              readOnly: true
              description: Localized friendly description for the operation.
        origin:
          type: string
          description: Origin of the operation.
    ErrorResponse:
      type: object
      description: >-
        Error response indicates Event Hub service is not able to process the
        incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
        target:
          type: string
          readOnly: true
          description: The error target.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The error details.
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          readOnly: true
          description: The additional info type.
        info:
          type: object
          readOnly: true
          description: The additional info.
    SystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC).
tags:
  - name: Namespaces
    description: Operations for managing Event Hubs namespaces.
  - name: Event Hubs
    description: Operations for managing event hubs within a namespace.
  - name: Consumer Groups
    description: Operations for managing consumer groups within an event hub.
  - name: Authorization Rules
    description: Operations for managing authorization rules and access keys.
  - name: Disaster Recovery Configs
    description: Operations for managing disaster recovery (Geo-DR) configurations.
  - name: Schema Registry
    description: Operations for managing schema groups in the Schema Registry.
  - name: Operations
    description: Operations for listing available Event Hub REST API operations.
