openapi: 3.2.0
info:
  title: Azure Event Hubs Management REST Operations API
  description: Azure Resource Manager REST API for managing Event Hubs namespaces, event hubs, consumer groups, authorization rules, disaster recovery configurations, and schema registry groups. This API uses the Microsoft.EventHub resource provider and operates on the Azure management plane at management.azure.com.
  version: '2024-01-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft Azure Terms of Service
    url: https://azure.microsoft.com/en-us/support/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/event-hubs/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
  description: Operations for listing available Event Hub REST API operations.
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      operationId: Operations_List
      summary: Azure Event Hubs List available operations
      description: Lists all of the available Event Hub REST API operations.
      tags:
      - Operations
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      description: Error response indicates Event Hub service is not able to process the incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
        target:
          type: string
          readOnly: true
          description: The error target.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The error details.
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          description: The error additional info.
    Operation:
      type: object
      description: A Event Hub REST API operation.
      properties:
        name:
          type: string
          readOnly: true
          description: 'Operation name: {provider}/{resource}/{operation}'
        isDataAction:
          type: boolean
          description: Indicates whether the operation is a data action.
        display:
          type: object
          properties:
            provider:
              type: string
              readOnly: true
              description: Resource provider of the operation.
            resource:
              type: string
              readOnly: true
              description: Resource of the operation.
            operation:
              type: string
              readOnly: true
              description: Localized friendly name for the operation.
            description:
              type: string
              readOnly: true
              description: Localized friendly description for the operation.
        origin:
          type: string
          description: Origin of the operation.
    OperationListResult:
      type: object
      description: Result of the request to list Event Hub operations. It contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          description: List of Event Hub operations supported by the Microsoft.EventHub resource provider.
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of operation list results.
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          readOnly: true
          description: The additional info type.
        info:
          type: object
          readOnly: true
          description: The additional info.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2024-01-01'
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
